/* ExperienciasComponent.css */
.experiencias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Añade esta línea para centrar los hijos verticalmente */
    height: 100vh; /* Asegúrate de que el contenedor tome toda la altura de la pantalla */
    padding: 20px; /* Añade algo de padding para no tener contenido pegado a los bordes */
}


.experiencia {
    background-color: #f4f4f4; /* Color de fondo de cada experiencia */
    margin: 20px;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
}

.experiencia h3 {
    color: #333; /* Color del título */
}

.experiencia p {
    color: #666; /* Color del texto */
}
