/* ProyectosComponent.css o el archivo CSS correspondiente */

.proyectos-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Hace que el contenedor tenga la altura de la ventana del navegador */
}

.proyectos-container .row {
  width: 80%; /* Opcional, dependiendo de cómo desees que se muestren tus tarjetas */
}

/* ******************************************* */
.proyectos-container .cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.proyectos-container .transparent{
    background-color: rgba(0, 0, 0, 0.2)!important;
}

.proyectos-container .cards .red {
  background-color: #f43f5e;
}

.proyectos-container .cards .blue {
  background-color: #3b82f6;
}

.proyectos-container .cards .green {
  background-color: #22c55e;
}

.proyectos-container .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: 400ms;
}

.proyectos-container .cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.proyectos-container .cards .card p.second-text {
  font-size: 0.7em;
}

.proyectos-container .cards .card:hover {
  transform: scale(1.1, 1.1) ;
}

.proyectos-container .cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
